body {
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  color: #003854;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient( to top, #34CCCC, white);
  background: -moz-linear-gradient( to top, #34CCCC, white);
  background: -ms-linear-gradient( to top, #34CCCC, white);
  background: -o-linear-gradient( to top, #34CCCC, white);
  background: linear-gradient( to top, #34CCCC, white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.nav {
  display: flex;
}

.nav-item {
  margin: 1em;
}